  .btn2{
	color: rgb(255, 255, 255);
	margin-left: 20%;
  margin-top: 7%;
	background-color:  rgb(255, 255, 255); /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
} 